body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.65em;
  background-image: url(images/table.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

.card {
  border: 1px solid white;
  width: 100px;
  height: 150px;
  border-radius: 6px;
}

img {
  width: 100%;
  height: 100%;
}
